body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url(../img/fruit-fond.webp);
  background-size: cover;
  text-align: center;
}

.box-title {
  background: #fff;
  color: #57BB6B;
  padding: 20px;
  margin: 20px;
}

main {
  background: #fff;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-family: space;
  font-weight: 300;
  margin: 30px;
  padding: 30px;
}

h3 {
  text-align: center;
  font-family: space;
  font-weight: 300;
}

.background-green {
  background: #57BB6B;
  color: #fff;
  padding: 30px;
}

.card-banana {
  background: #FFF8D7;
  color: #000;
  border-radius: 20px; 
}

.card-kiwi {
  background: #C4F2AD;
  color: #000;
  border-radius: 20px; 
}

.card-cafe {
  background: #D3C6B2;
  color: #000;
  border-radius: 20px; 
}

.card-fraise {
  background: #F7A4B4;
  color: #000;
  border-radius: 20px; 
}

.cta {
  background: #57BB6B;
  color: #fff;
  padding: 15;
}

.contenair-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenair-cta .cta , .contenair-cta .cta-white {
  margin: 10px 10px 0px 10px;
  padding: 15px 15px  15px 15px;
  border-radius: 20px;   
}

.cta-white {
  background-color: #fff;
  color: #57BB6B;
}

a {
  color: #060E17;
}

.picto {
  margin: auto;
}

footer {
  background-color: #fff;
}

.contenair-img {
  display: flex;
  flex-direction: row;
}

.card .img-card {
  padding: 40px;
  margin: 15px ;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  align-items: flex-end;
}

.contenair-img {
  display: flex;
  align-items: center;
  justify-content: space-around;

  
}

img {
  width: 55px
}

img .img-card s{
    display: block;
    max-width: 100%;
}