body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url(../img/fruit-fond.webp);
  background-size: cover;
  padding: 20px;
  border-top: 5px solid #57BB6B;
}

.box-title {
  background: #fff;
  opacity: 90%;
  color: #57BB6B;
  padding: 20px;
  margin: 20px;
}
.box-title img {
  width: 230px;
  margin: auto;
}

.box-title p {
  font-size: 23px;
}

main {
  background: #fff;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-family: 'maven pro' sans-serif;
  font-weight: 700;
  margin: 30px;
  padding: 30px;
  font-size: 30px;
}

h3 {
  text-align: left;
  font-family: 'Space Grotesk', sans-serif;;
  font-weight: 700;
  font-size: 30px;
  padding: 10px 0px 0px 30px;
}

p {
  font-family: 'Quattrocento', serif;
  font-size: 15px;
  text-align: center;
}

.background-green {
  background: #57BB6B;
  color: #fff;
  padding: 30px;
}

.card-banana {
  background: #FFF8D7;
  color: #000;
  border-radius: 20px; 
}

.card-kiwi {
  background: #C4F2AD;
  color: #000;
  border-radius: 20px; 
}

.card-cafe {
  background: #D3C6B2;
  color: #000;
  border-radius: 20px; 
}

.card-strawberry {
  background: #F7A4B4;
  color: #000;
  border-radius: 20px; 
}

.card {
  border-radius: 20px; 
  margin: 15px;
  box-shadow: 10px 5px 5px #468751;
}

.card p {
  opacity: 60%;
  text-align: start;
  padding: 0px 0px 0px 30px;
}

.cta {
  background: #57BB6B;
  color: #fff;
  padding: 15;
  font-size: 15px;
}

.contenair-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenair-cta .cta , .contenair-cta .cta-white {
  margin: 10px 10px 0px 10px;
  padding: 15px 15px  15px 15px;
  border-radius: 20px;   
}

.cta-white {
  background-color: #fff;
  color: #57BB6B;
  font-size: 15px;
}

.picto {
  margin: auto;
}

footer {
  background-color: #fff;
  padding: 20px;
}

footer p {
  color: #57BB6B;
  font-size: 15px;
}

.contenair-img {
  display: flex;
  flex-direction: row;
}

.container-card {
  padding: 40px;
  margin: 15px ;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  align-items: flex-end;
}

.contenair-img {
  display: flex;
  align-items: center;
  justify-content: space-around; 
  padding: 0px 0px 10px 0px;
}

.contenair-img img {
width: 30px;
}

img {
  width: 80px
}

a {
  font-family: 'maven pro' sans-serif;
  font-weight: 400;
  color: #060E17;
}

.h2-footer {
  color: #57BB6B;
}

